// Headers
$header-heading-color: #000000;
$header-bg-color: #fff;
$header-bg-color-secondary: #fff;

@import "{{ site.theme }}";


.page-header {
  color: #000000;
  text-align: center;
  background-color: #fff;
  background-image: #fff;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
